@font-face {
    font-family:'din';
    src:url("../fonts/din-regular.ttf");
}

html, body{
    background-color: orange;
    height: 100%;
}

div.container{
    width: 76%;
    margin-left: 12%;
    margin-right: 12%;
    border-width: 2px;
    border-color: #263c97;
    border-style: solid;
    padding: 0;
}

#box1, #box2, #box3{
    border-bottom-color: transparent !important;
}

#box1 {
    margin-top: 5%;
    height: 11%;
}
#box2{
    height: 28%;
}
#box3{
    height: 4%;
    color: #263c97;
    font-size: 12px;

}
#box4{
    height: 63%;
    margin-bottom: 1%;
}

.royce_image{
    height: 125%;
    width: 30%;
    margin-top: -1.6%;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 0;
}

.festival_img{
    width: 33.33%;
    height: 35%;
    margin-top: 0;
    margin-left: 33.33%;
    margin-right: 33.33%;
    margin-bottom: 1%;

}

#festival_label{
    height: 13%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 1%;
    width: 100%;
}

#bash{
    height: 100%;
    background-color: #263c97;
    color: white;
    border-top-color: transparent !important;
    border-width: 2px;
    border-color: #263c97;
    border-style: solid;
}
#festival{
    height: 100%;
    color: #263c97;
    border-top-color: transparent !important;
    border-width: 2px;
    border-color: #263c97;
    border-style: solid;
}

#box2text{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    color: black;
}

.text{
    text-align: center;
    font-family: din;
}

div.festival{
    width: 86%;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    border-width: 2px;
    border-color: #263c97;
    border-style: solid;
    background-color: white;
    color: #263c97;
    height: 38%;
}

.default_giveaway{
    width: 86%;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    border-width: 2px;
    border-color: #263c97;
    border-style: solid;
    background-color: white;
    color: #263c97;
    height: 30%;
    font-family: din;
    font-size: 21px;
    padding-top: 2.5%;
    padding-left: 1%;
    padding-right: 1%;
}



.fest_head{
    border-width: 2px;
    border-color: transparent;
    border-bottom-color: #263c97 !important;
    border-style: solid;
    font-size: 18px;
    padding-top: 1%;
    padding-left: 1%;
    margin-bottom: 1%;
}
.fest_body{
    font-size: 12px;
}



.lineup_head{
    border-width: 2px;
    border-color: transparent;
    border-bottom-color: #263c97 !important;
    border-style: solid;
    font-size: 13px;
    padding-top: .25%;
    padding-left: 1%;
    margin-bottom: .5%;
}
.lineup_body{
    font-size: 12px;
}

div.lineup{
    width: 86%;
    margin-left: 7%;
    margin-right: 7%;
    border-width: 2px;
    border-color: #263c97;
    border-style: solid;
    background-color: white;
    color: #263c97;
    height: 18%;
}

.box3_festival{
    border-width: 2px;
    border-color: black;
    border-style: solid;
    padding-top: 0.25%;
    height: 100%;


    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    border-right-color: transparent !important;


}
.box3_giveaway{
    border-width: 2px;
    border-color: #263c97;
    border-style: solid;
    padding-top: 0.25%;
    height: 100%;
    color: black;
    background-color: orange;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    border-right-color: transparent !important;

}

.active{
    background-color: white;
    color: #263c97;
}

.hide{
    display: none;
}

div.give{
    width: 86%;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    border-width: 2px;
    border-color: #263c97;
    border-style: solid;
    background-color: white;
    color: #263c97;
    height: 90%;
}

.small{
    height: 55% !important;
}