html, body { height: 100%; width: 100%; margin: 0; font-family: "BeonMedium"}

body {
    background-color: #F84649;
}

.frame {
    width: 70em;
    margin: 0 auto;
}

.full-border {
    border: 0.2em solid #263c97;
}

.min-border {
    border-left: 0.2em solid #263c97;
    border-right: 0.2em solid #263c97;
    border-bottom: 0.2em solid #263c97;
}

.header {
    height: 9em;
    margin-top: 3em;
}

.title {
    height: 25em;
}

.nav {
    height: 6em;
}

.info {
    height: 60em;
    margin-bottom: 3em;
}

.title-box {
    width: 14em;
    height: 3em;
    float: left;
    text-align: center;
    vertical-align: middle;
}

.invert {
    margin-left: 20.85em;
    background-color: #263c97;
    color: white;
    border-left: .2em solid #263c97;
    border-bottom: 0.2em solid #263c97;
}

.regular {
    color: #263c97;
    border-right: 0.2em solid #263c97;
    border-bottom: 0.2em solid #263c97;
}

.title-summary {
    margin: auto;
    width: 36em;
    height: 9em;
    top: 2em;
    text-align: center;
    color: #263c97;
    position: relative;
}

.underline {
    border-bottom: 0.2em solid #263c97;
}

#royce {
    display: block;
    margin: auto;
    width: 25em;
    position: relative;
    top: -1.75em;
}

#nav-title {
    color: #263c97;
    position: relative;
    top: 1.5em;
    left: 1em;
    width: 12em;
}

.nav-clickable {
    cursor: pointer;
    float: right;
    text-align: center;
    width: 9em;
    height: 6em;
    border-left: 0.2em solid #263c97;
    position: relative;
    top: -2.7em;
    color: #263c97;
}

.current {
    background-color: white;
}

#spacer {
    height: 200px;
    width: 100vw;
}