/*Navbar*/
nav{height:10vh;  width:100%;}
.button{
    position:absolute;
    right:20px;
    top:20px;
    cursor:pointer;
}
.bar{
    margin:5px 10px 5px 10px;
    width:20px;
    height:2px;
    background-color:white;
}
nav .dropdown-menu{
    right:5px !important;
    left:85%;
    top:8%;
    width:30px;
}
@media only screen and (min-width: 800px) and (max-width:1000px) {
    .bar{width:10vw;height:10px; margin:15px 10px 5px 10px;}
    nav .dropdown-menu{
        width:100%;
        font-size:4em;
        left:0;
    }
}